<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.les.povmt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.example.library.permission.REST_PERMISSION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.br.les.activities.TIActivity"
            android:label="@string/title_activity_ti" >
        </activity>
        <activity
            android:name="com.br.les.activities.ListTiActivity"
            android:label="@string/title_activity_list_ti"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.br.les.activities.Time_it_Up_main"
            android:label="@string/title_activity_time_it__up_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.br.les.activities.CreateTI"
            android:label="@string/title_activity_create_ti"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.br.les.activities.WeeklyMonitoring"
            android:label="@string/title_activity_weekly_monitoring"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>