<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.br.les.povmt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.br.les.activities.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.br.les.activities.TIActivity"
            android:label="@string/title_activity_ti" >
        </activity>
        <activity
            android:name="com.br.les.activities.MainActivity"
            android:label="@string/title_activity_ti" >
        </activity>
        <activity
            android:name="com.br.les.activities.ListTiActivity"
            android:label="@string/title_activity_list_ti" >
        </activity>
        <activity
            android:name="com.br.les.activities.Time_it_Up_main"
            android:label="@string/title_activity_time_it__up_main" >
        </activity>
        <activity
            android:name="com.br.les.activities.CreateTI"
            android:label="@string/title_activity_create_ti" >
        </activity>
        <activity
            android:name="com.br.les.activities.CreateUser"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name="com.br.les.activities.WeeklyMonitoring"
            android:label="@string/title_activity_weekly_monitoring" >
        </activity>
    </application>

</manifest>
